footer{
    background-color: $black;
    color: $white;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:60px 10px;
        border-bottom: 1.5px solid $offWhite;
    }
}

.howToContact, .posts, .footerForm{
    display: flex;
    flex-direction: column;
    width:calc((100% / 3) - 20px);
    min-width: 275px;
    margin:10px;
    h4{
        margin-bottom: 20px;
        font-size: 0.9rem;
    }
}

.socials{
    padding:10px 0 0 10px;
    a{
        font-size: 1rem;
        transition: color 0.3s;
        margin-right: 40px;
    }
    // a:nth-child(2){
    //     // padding:50px 0;
    // }
}

.socials a:hover, .socials a:focus{
    color: $primary;
}

.posts li{
    list-style-type:disc;
        &:hover, &:focus{
            text-decoration: line-through;
        }
   }

.footerForm{
    display: block;
    label{
        border:none;
        display:block;
    }
    input{
        display: inline;
        min-width:150px;
    }
    .twitterSubmit{
        background-color: $primary;
        border: none;
        transition: transform 0.3s;
        &:hover , &:focus{
            transform: scale(1.2);
        } 
    }
}

.footerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    h4{
        transition: color 0.4s;
        display: block;
    }
    &:hover, &:focus{
        color:$primary;
    }
}