footer{
    background-color: $black;
    color: $white;
    .wrapper{
        display: flex;
        padding:80px 10px;
    }
}

.howToContact, .posts, form{
    display: flex;
    flex-direction: column;
    width:calc((100% / 3) - 20px);
    margin:10px;
    h4{
        margin-bottom: 20px;
        font-size: 0.9rem;
    }
}

.socials{
    padding:10px 0 0 10px;
    font-size: 1.25rem;
    a:nth-child(2){
        padding:10px;
    }
}

.socials a:hover, .socials a:focus{
    font-size: 1.5rem;
}

.posts li{
    list-style-type:disc;
    transition: font-size 0.3s, text-decoration 0.3s;
        &:hover, &:focus{
            font-size: 1rem;
            text-decoration: underline;
        }
   }

form{
    display: block;
    label{
        border:none;
        display: block;
    }

    .twitterSubmit{
        background-color: $primary;
        border: none;
        transition: transform 0.3s;
        &:hover , &:focus{
            transform: scale(1.2);
        } 
    }
}

.footerLogo{
    text-align: center;
    h4{
        padding-bottom:50px;
    }
}