header{
    background-image: url(../assets/home-1.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    .verticleLine{
        background-color: rgba(51, 51, 51, 0.4);
        height:150px;
        width:1px;
        position: absolute;
        bottom:-75px;
        left:50%
    }
}
.headerBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    position: fixed;
    z-index: 20;
    width: 80%;
}

.siteNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteNavContainer label i {
    display: none;
}

header input[type=checkbox] {
    opacity: 0;
    position: absolute;
    &:checked~.siteNav{
        left: 0;
    }
}

// header input[type=checkbox] {
//     opacity: 0;
//     position: absolute;
//     &:checked~.searchCart {
//         left: -375px;
//     }
// }
.hiddenMenu{
    display: none;
}
.siteNav {
    // background-color: transparent;
    position: relative;
    // left: -506px;
    // top:50px;
    // max-width: 506px;
    // transition: 0.75s;
}

.siteNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li a{
        padding: 0 15px;
    }
}

.siteNav ul li a,
.siteNav ul li a,
.searchCart a,
.searchCart a {
    transition: font-size 0.3s, text-decoration 0.3s;
}

.siteNav ul li a:hover,
.siteNav ul li a:focus,
.searchCart a:hover,
.searchCart a:focus {
    font-size: 1rem;
    text-decoration: underline;
}

.menuButton{
    padding:4px;
    transition: font-size 0.3s;
    &:hover,&:focus{
        font-size: 1.2rem;
    }
}

.searchCart {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchCart a{
    padding: 0 15px;
}

.bag {
    position: relative;
    .counter {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -8px;
        right: 2px;
        background-color: $primary;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
}


