header{
    background-image: url(../assets/home-1.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.headerBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input[type=checkbox] {
    opacity: 0;
    position: absolute;
    &:checked~.siteNav {
        left: 0;
    }
}
.siteNav {
    background-color: transparent;
    position: fixed;
    left: -506px;
    top:50px;
    max-width: 506px;
    transition: 0.75s;
}

.siteNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li a{
        padding: 0 15px;
    }
}

.siteNav ul li,
.siteNav ul li,
.searchCart a,
.searchCart a {
    transition: font-size 0.3s, text-decoration 0.3s;
}

.siteNav ul li:hover,
.siteNav ul li:focus,
.searchCart a:hover,
.searchCart a:focus {
    font-size: 1rem;
    text-decoration: underline;
}

.searchCart {
    display: flex;
    justify-content: center;
    .bag {
        position: relative;
        .counter {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -8px;
            right: 2px;
            background-color: $primary;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            font-size: 12px;
            text-align: center;
            font-weight: bold;  
        }
    }
}

.searchCart a{
    padding: 0 15px;
}



