// Breakpoints for 1000/800/500

//1000px
@media(max-width: 1000px){
    // header
    .headerBanner{
        background-color: $offWhite;
        width:100%;
        padding:0 40px;
    }
    header{
        position: relative;
    }
    .siteNavContainer label i {
            display: block;
        }
        .siteNav{
            left: -506px;
            top: 60px;
            max-width: 506px;
            width:200px;
            transition: 0.75s;
            background-color: $offWhite;
            z-index: 30;
            position: absolute;
            ul{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    padding:10px 0;
                    margin:0 10px;
                    a{
                        padding:0;
                    }
                }
            }
        }
       .searchCart {
           display: none;
       }
    .ourTools .wrapper .toolBox{
        width:75%;
    }

    .hiddenMenu{
        display: block;
    }
    // blog page
    .articleInfo .postInfo li{
        margin:0 20px;
    }
}



// 800
@media(max-width: 800px){

    //Branding Section
    .branding .brandImg{
        width:75%;
    }

    .branding .brandImg::after{
        width:225px;
        height:225px;
        top:-50px;
        left:-50px;
    }
    .branding .brandingTextContainer{
        width:80%;
    }

    // blog Section Home page,

    .blogContainer{
        width:80%;
    }
    .blog .wrapper{
        padding: 0 10px;
    }

        .ourTools .wrapper .toolBox {
            width: 100%;
        }
    
    // Meet our team
    .profileContainer {
        .flexGrow {
                width:calc(100% - 20px);
                padding: 60px 0;
            }
        .teamItem{
            width:calc(50% - 20px);
        }
    }

    // Drop us a Line section
    .contactUs{
        flex-direction: column-reverse;
        height:auto;
        .wrapper{
            flex-direction: column;
            margin-top: 50px;

        }
        .contactContainer{
            margin:0;
            width:60%;
        }
        .contactUsImg{
            margin-top:50px;
            position: relative;
            width: 100%;
        }
        
    }
    // blog page How to run a creative Agency
    .articleInfo{
        flex-direction: column;
        align-items: flex-start;
        .authorInfo{
            margin-bottom:20px;
        }
    }
        // blog past posts
        .postContainer {
           flex-wrap: wrap;
            .pastPost {
                width: 100%;
            }
        }
    //email form (Contact and Blog page)
    .emailForm input{
        width:80%;
    }

    // contact Page, contact details
     .contactDigits {
        flex-direction: column;
        li:nth-child(2) {
                border: none;
                border-top: 1px solid $black;
                border-bottom: 1px solid $black;
            }
     }
     
}

// 500
@media(max-width:500px){
    // branding section, home page
    .branding .brandingTextContainer {
            width: 75%;
            flex-direction: column;
            .brandItem{
                padding:10px;
            }
        }
        // our Tools section
         .ourTools .wrapper .toolBox {
             flex-direction: column;
         }
         .toolOptions{
            width:100%;
         }
    
        //  meet our Team
        .profileContainer {
            .flexGrow{
                flex-grow: 1;
                text-align: center;
                
            }
            .teamItem {
                width: calc(100% - 20px);
            }
            .slogan{
                padding: 60px 0;
            }
        }
    
        // footer section
    footer .wrapper{
        flex-direction: column;
        width:80%;
        padding:0;
        height:auto;
        
    }
        .howToContact,
        .posts,
        .footerForm {
            flex-direction: column;
            width: calc(80% - 20px);
            margin: 10px auto;
            text-align: center;
        }

    // Blog page, information about post
    .articleInfo .postInfo{
            flex-direction: column;
            li{
                margin:10px 0;
            }
        }

}