// Breakpoints for 1000/800/500

//1000px
@media(max-width: 1000px){

    .headerBanner{
        position: fixed;
        z-index: 20;
        width:80%;
    }
    .siteNavContainer{
        position: relative;
    }
    .siteNavContainer label i {
            display: block;
        }
        .siteNav{
            left: -506px;
            top: 30px;
            max-width: 506px;
            transition: 0.75s;
            background-color: $primary;
            z-index: 30;
            position: absolute;
            ul{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    padding:10px 0;
                    margin:0 10px;
                    a{
                        padding:0;
                    }
                }
            }
            .counter{
                background-color: $white;
            }
        }
       .searchCart {
           display: none;
       }
    .ourTools .wrapper .toolBox{
        width:75%;
    }

    .hiddenMenu{
        display: block;
    }
}



// 800
@media(max-width: 800px){

    .branding .brandImg{
        width:75%;
    }

    .branding .brandImg::after{
        width:225px;
        height:225px;
        top:-50px;
        left:-50px;
    }
    .branding .brandingTextContainer{
        width:80%;
    }

    .blogContainer{
        width:80%;
    }
    .blog .wrapper{
        padding: 0 10px;
    }

        .ourTools .wrapper .toolBox {
            width: 100%;
        }
    
    .profileContainer {
        .flexGrow {
                width:calc(100% - 20px);
            }
        .teamItem{
            width:calc(50% - 20px);
        }
    }

    .contactUs{
        flex-direction: column-reverse;
        height:auto;
        .wrapper{
            flex-direction: column;
            margin-top: 50px;
        }
        .contactUsImg{
            margin-top:50px;
            position: relative;
            width: 100%;
        }
        
    }
    
}

// 500
@media(max-width:500px){
    .branding .brandingTextContainer {
            width: 75%;
            flex-direction: column;
            .brandItem{
                padding:10px;
            }
        }

         .ourTools .wrapper .toolBox {
             flex-direction: column;
         }
         .toolOptions{
            width:100%;
         }
    
        .profileContainer {
            .flexGrow{
                flex-grow: 1;
                padding:0;
            }
            .teamItem {
                width: calc(100% - 20px);
            }
        }

    footer .wrapper{
        flex-direction: column;
        height:auto;
    }
        .howToContact,
        .posts,
        form {
            flex-direction: column;
            width: calc(100% - 20px);
            margin: 10px auto;
        }
}