// Fonts
$headingFont: "Montserrat";
$bodyFont: "Open Sans";

// Font Size
$baseFontSize: 1rem;

// Colours (font and background)
$primary: #c3dab7;
$white: #FFFFFF;
$offWhite: #f6f6f6;
$black: #333333;