html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  color: #333333;
  letter-spacing: 0.3px;
  line-height: 24px;
}

h2, h3, h4, form {
  font-family: "Montserrat";
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 1.85rem;
  font-weight: bold;
  letter-spacing: 0.9px;
}

p {
  font-size: 0.7rem;
  margin: 0;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-size: 0.7rem;
}

.searchCart a, label {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: #f6f6f6;
  line-height: 1.2rem;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 0.7px;
  padding: 15px 15px;
}
.button:hover, .button:focus {
  background-color: #333333;
  color: #f6f6f6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.headerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
  width: 80%;
}

.siteNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteNavContainer label i {
  display: none;
}

header input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
header input[type=checkbox]:checked ~ .siteNav {
  left: 0;
}

.hiddenMenu {
  display: none;
}

.siteNav {
  position: relative;
}

.siteNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.siteNav ul li a {
  padding: 0 15px;
}

.siteNav ul li,
.siteNav ul li,
.searchCart a,
.searchCart a {
  -webkit-transition: font-size 0.3s, -webkit-text-decoration 0.3s;
  transition: font-size 0.3s, -webkit-text-decoration 0.3s;
  transition: font-size 0.3s, text-decoration 0.3s;
  transition: font-size 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.siteNav ul li:hover,
.siteNav ul li:focus,
.searchCart a:hover,
.searchCart a:focus {
  font-size: 1rem;
  text-decoration: underline;
}

.menuButton {
  padding: 4px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.menuButton:hover, .menuButton:focus {
  font-size: 1.2rem;
}

.searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.searchCart a {
  padding: 0 15px;
}

.bag {
  position: relative;
}
.bag .counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -8px;
  right: 2px;
  background-color: #c3dab7;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.branding {
  background-color: #c3dab7;
}
.branding .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.branding .brandImg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}
.branding .brandingTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 50px 0 90px 0;
}
.branding .brandingTextContainer .brandItem {
  padding: 0 25px;
}
.branding .brandImg::after {
  content: "";
  background-image: url("../assets/home-circle-text.png");
  background-size: 50% 50%;
  z-index: 10;
  display: inline-block;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -70px;
  left: -70px;
}
.branding .brandItem {
  text-align: center;
}

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 125px;
}

.blogContainer {
  margin: 80px 0;
  width: 40%;
  text-align: center;
}
.blogContainer img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.blogContainer p {
  margin-top: 50px;
}

.ourTools {
  background-image: url("../assets/home-4.jpeg");
  background-position: center;
  background-size: cover;
}
.ourTools .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ourTools .wrapper .toolBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  padding: 70px 0;
}

.toolOptions {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.toolOptions .toolText h3 {
  margin-bottom: 14px;
}
.toolOptions .toolIcon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #333333;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1rem;
}

.meetOurTeam .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-top: 50px;
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}
.profileContainer .flexGrow {
  background-color: #f6f6f6;
  margin: 10px;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px 0 50px;
}
.profileContainer .teamItem {
  width: calc(25% - 20px);
  padding: 0px;
  margin: 10px;
}
.profileContainer .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.contactUs {
  background-color: #c3dab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 75vh;
}
.contactUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactUs .contactUsImg {
  background-image: url(../assets/home-10.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 75vh;
  position: absolute;
  right: 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 40%;
  margin-left: 40px;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 10px;
}

.howToContact, .posts, form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33.3333333333% - 20px);
  margin: 10px;
}
.howToContact h4, .posts h4, form h4 {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.socials {
  padding: 10px 0 0 10px;
  font-size: 1.25rem;
}
.socials a:nth-child(2) {
  padding: 10px;
}

.socials a:hover, .socials a:focus {
  font-size: 1.5rem;
}

.posts li {
  list-style-type: disc;
  -webkit-transition: font-size 0.3s, -webkit-text-decoration 0.3s;
  transition: font-size 0.3s, -webkit-text-decoration 0.3s;
  transition: font-size 0.3s, text-decoration 0.3s;
  transition: font-size 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.posts li:hover, .posts li:focus {
  font-size: 1rem;
  text-decoration: underline;
}

form {
  display: block;
}
form label {
  border: none;
  display: block;
}
form .twitterSubmit {
  background-color: #c3dab7;
  border: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
form .twitterSubmit:hover, form .twitterSubmit:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footerLogo {
  text-align: center;
}
.footerLogo h4 {
  padding-bottom: 50px;
}

.contactNav {
  background-color: #FFFFFF;
  height: auto;
  height: 75px;
}

.contactNav input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.contactNav input[type=checkbox]:checked ~ .siteNav {
  left: 0;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  height: 25vh;
  background-position: center;
  font-size: 2rem;
  line-height: 1.025;
}
.contactHeader .wrapper {
  position: relative;
  height: 100%;
}
.contactHeader .wrapper h2 {
  position: absolute;
  bottom: -60px;
  left: 0;
}
.contactHeader .wrapper h2::first-letter {
  border-top: 4px solid #333333;
  padding-top: 20px;
}
.contactHeader .wrapper span {
  display: block;
}

.contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactDetails {
  border: 2px solid salmon;
  margin-top: 120px;
  padding-bottom: 50px;
}

.contactDigits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid yellow;
  width: 100%;
}
.contactDigits li {
  padding: 40px 60px;
  min-width: 240px;
  width: 30%;
}
.contactDigits li a {
  font-size: 1.5rem;
}
.contactDigits li:nth-child(2) {
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}

.getInTouch {
  margin: 50px 0;
}

form {
  width: 100%;
}
form input {
  width: calc(32% - 20px);
  min-width: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid #333333;
  opacity: 0.5;
}
form input:hover, form input:focus {
  opacity: 1;
}
form textarea {
  display: block;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #333333;
  opacity: 0.5;
}
form textarea:hover, form textarea:focus {
  opacity: 1;
}
form .contactButton {
  border: none;
  border-bottom: 2px solid #333333;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 50px 0;
  opacity: 0.5;
}
form .contactButton:hover, form .contactButton:focus {
  opacity: 1;
}

.contactImage {
  background-image: url(../assets/contact-2.jpeg);
  height: 80vh;
  background-size: cover;
  background-position: top;
}

@media (max-width: 1000px) {
  .headerBanner {
    position: fixed;
    z-index: 20;
    width: 80%;
  }

  .siteNavContainer {
    position: relative;
  }

  .siteNavContainer label i {
    display: block;
  }

  .siteNav {
    left: -506px;
    top: 30px;
    max-width: 506px;
    -webkit-transition: 0.75s;
    transition: 0.75s;
    background-color: #c3dab7;
    z-index: 30;
    position: absolute;
  }
  .siteNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .siteNav ul li {
    padding: 10px 0;
    margin: 0 10px;
  }
  .siteNav ul li a {
    padding: 0;
  }
  .siteNav .counter {
    background-color: #FFFFFF;
  }

  .searchCart {
    display: none;
  }

  .ourTools .wrapper .toolBox {
    width: 75%;
  }

  .hiddenMenu {
    display: block;
  }
}
@media (max-width: 800px) {
  .branding .brandImg {
    width: 75%;
  }

  .branding .brandImg::after {
    width: 225px;
    height: 225px;
    top: -50px;
    left: -50px;
  }

  .branding .brandingTextContainer {
    width: 80%;
  }

  .blogContainer {
    width: 80%;
  }

  .blog .wrapper {
    padding: 0 10px;
  }

  .ourTools .wrapper .toolBox {
    width: 100%;
  }

  .profileContainer .flexGrow {
    width: calc(100% - 20px);
  }
  .profileContainer .teamItem {
    width: calc(50% - 20px);
  }

  .contactUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
  .contactUs .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .contactUs .contactUsImg {
    margin-top: 50px;
    position: relative;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .branding .brandingTextContainer {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .branding .brandingTextContainer .brandItem {
    padding: 10px;
  }

  .ourTools .wrapper .toolBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .toolOptions {
    width: 100%;
  }

  .profileContainer .flexGrow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
  }
  .profileContainer .teamItem {
    width: calc(100% - 20px);
  }

  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .howToContact,
.posts,
form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 20px);
    margin: 10px auto;
  }
}