html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  color: #333333;
  letter-spacing: 0.3px;
  line-height: 24px;
}

h2, h3, h4, form {
  font-family: "Montserrat";
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 1.85rem;
  font-weight: bold;
  letter-spacing: 0.9px;
}

p {
  font-size: 0.7rem;
  margin: 0;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-size: 0.7rem;
}

.searchCart a, label {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: #f6f6f6;
  line-height: 1.2rem;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 0.7px;
  padding: 15px 15px;
}
.button:hover, .button:focus {
  background-color: #333333;
  color: #f6f6f6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.headerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.siteNav ul li a {
  padding: 0 15px;
}

.siteNav ul li:hover,
.siteNav ul li:focus,
.searchCart a:hover,
.searchCart a:focus {
  font-size: 1rem;
  text-decoration: underline;
}

.searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.searchCart .bag {
  position: relative;
}
.searchCart .bag .counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -8px;
  right: 2px;
  background-color: #c3dab7;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.searchCart a {
  padding: 0 15px;
}

.branding {
  background-color: #c3dab7;
}
.branding .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.branding .brandImg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}
.branding .brandingTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 50px 0 90px 0;
}
.branding .brandingTextContainer .brandItem {
  padding: 0 25px;
}
.branding .brandImg::after {
  content: "";
  background-image: url("../assets/home-circle-text.png");
  background-size: 50% 50%;
  z-index: 10;
  display: inline-block;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -70px;
  left: -70px;
}
.branding .brandItem {
  text-align: center;
}

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
  padding: 0 125px;
}

.blogContainer {
  width: 40%;
  text-align: center;
}
.blogContainer img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.blogContainer p {
  margin-top: 50px;
}

.ourTools {
  background-image: url("../assets/home-4.jpeg");
  background-position: center;
  background-size: cover;
}
.ourTools .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ourTools .wrapper .toolBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  padding: 70px 0;
}

.toolOptions {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.toolOptions .toolIcon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #333333;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 1rem;
}

.meetOurTeam .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-top: 50px;
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}
.profileContainer .flexGrow {
  background-color: #f6f6f6;
  margin: 10px;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px 0 50px;
}
.profileContainer .teamItem {
  width: calc(25% - 20px);
  padding: 0px;
  margin: 10px;
}
.profileContainer .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.contactUs {
  background-color: #c3dab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 600px;
}
.contactUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactUs .contactUsImg {
  background-image: url(../assets/home-10.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 600px;
  position: absolute;
  right: 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 40%;
  margin-left: 40px;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 10px;
  height: 400px;
}

.howToContact, .posts, form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33.3333333333% - 20px);
  margin: 10px;
}
.howToContact h4, .posts h4, form h4 {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.socials {
  padding: 10px 0 0 10px;
  font-size: 1.25rem;
}
.socials a:nth-child(2) {
  padding: 10px;
}

.socials a:hover, .socials a:focus {
  font-size: 1.5rem;
}

.posts li {
  list-style-type: disc;
}
.posts li:hover, .posts li:focus {
  font-size: 1rem;
  text-decoration: underline;
}

form {
  display: inline;
}
form label {
  border: none;
}
form .twitterSubmit {
  background-color: #c3dab7;
  border: none;
}
form .twitterSubmit:hover, form .twitterSubmit:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}